:root {
  --background: #F2F2F2;
  --foreground: #171717;
  --backgroundProd: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F2F2F2;
  }
}

html,
body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body {
  width: 100%;
}

@media (max-width: 768px) {
  body {
    width: 100%; /* Для мобильных устройств */
  }
}

@media (min-width: 769px) {
  body {
    width: 375px; /* Фиксированная ширина для десктопа */
    height: 100%;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Reset styles for lists */
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Если вы хотите оставить нумерацию в упорядоченных списках */
ol {
  list-style-type: decimal;
}

.swiper-pagination {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.swiper-pagination-bullet {
  background-color: orange !important;
  width: 12px;
  height: 12px;
  opacity: 0.8;
}

.swiper-pagination-bullet-active {
  background-color: orange !important;
  opacity: 1;
}
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

button {
  background-color: #FF6A00;
  color: #fff;
  font-size: 16px;
  padding: 8px 16px;
  height: 48px;
}